:root {
    --HeaderColor: rgb(245, 115, 115);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--HeaderColor);
    padding: 1em;
    margin: 0;
}

#header-mainLine {
    display: flex;
    flex-direction: row;
}

#sub-header {
    margin-left: 3.8em;
}

#svg-Container {
    width: 1.5em;
    height: 1.5em;
}

#main-header {
    margin: 0;
    margin-left: 1.1em;
    padding: 0;
}

#searchForm {
    font-size: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

#searchBar {
    margin-left: 1em;
    font-size: 0.7em;
}


#Body {
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    height: 72vh;
}

#Main {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#side-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#authorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#LegoFace {
    height: 8em;
}

#authorLink {
    text-decoration: none;
    font-size: 1.5em;
}

#cartPic {
    height: 8em;
}

#cartLink {
    text-decoration: none;
    font-size: 1.5em;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--HeaderColor);
    margin: 0;
    height: 5vh;
}